/lib
bin
.manager
target
.settings
*~
.project
.classpath
.idea/
*.iml
release.properties
**/.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
*.ipr
*.iws
build-*
*.asc
build
out
.java-version
